@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
:root{
    --gray: #6d6875;
    --black: #000;
    --dark-black: #121212;
    --light-black: #242424;
    --yellow: #ffc300;
    --light-yellow: #f0bd18af;
    --white: #fff;
}

body{
    font-family: 'Poppins',sans-serif;
    background: var(--light-black);
}

::selection{
    background: var(--black);
    color: var(--yellow);
}

hr{
    color: var(--yellow) !important;
    height: 3px !important;
}

.unfocus:focus{
    background: none !important;
    box-shadow: none !important;
}
/*Backgrounds*/

.bg-gray{
    background: var(--gray);
}

.bg-black{
    background: var(--black);
}

.bg-dark-black{
    background: var(--dark-black);
}

.bg-light-black{
    background: var(--light-black);
}

.bg-yellow{
    background: var(--yellow);
}

.bg-light-yellow{
    background: var(--light-yellow) !important;
}

/*Texts*/

.text-gray{
    color: var(--gray);
}

.text-black{
    color: var(--black);
}

.text-dark-black{
    color: var(--dark-black);
}

.text-light-black{
    color: var(--light-black);
}

.text-yellow{
    color: var(--yellow);
}

/*Border Radius*/
.br05{
    border-radius: 0.5rem;
}

.br1{
    border-radius: 1rem;
}

.br100{
    border-radius: 100%;
}

/*Navbar*/
.nav-link:hover{
    color: var(--yellow) !important;
    background: var(--dark-black);
}

.nav-link:focus{
    background: var(--black);
    color: var(--yellow) !important;
}

.navbar-brand:hover{
    color: var(--yellow) !important;
    background: var(--dark-black);
}

.navbar-brand:hover #smiley{
    fill: var(--yellow) !important;
    transform: rotate(180deg) scale(1.10);
}

/*Others*/
svg{
    transition: all 0.5s ease;
}

#smiley{
    transition: all 0.5s ease;
}

.kapa{
    border-radius: 1rem !important;
}

.kapa:hover{
    background-color: var(--yellow) !important;
}

.kapa:hover svg{
    fill: var(--dark-black) !important;
}
